// Fonts
@font-face {
    font-family: 'Source Sans Pro';
    src: url('/src/assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/src/assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;    
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;    
}

@font-face {
    font-family: 'Oswald';
    src: url('/src/assets/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nerko One';
    src: url('/src/assets/fonts/NerkoOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}