.footer {
  width: 100%;
  min-height: 100%;
  background: #000;
  padding: 50px 150px 50px 150px;
  @include flex-boxes(row, space-between, center, wrap);

  &-items {
    @include flex-boxes(row, space-between, flex-end, wrap);
    gap: 70px;
    flex-wrap: wrap;

    &__item1 {
      text-align: center;

      & img {
        width: 100%;
        animation: animate 2s ease-in-out infinite;
      }

      & h6 {
        @include ff('Source Sans Pro', 18px, 400, normal);
        color: $white;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
    }

    &__item2 {
      & p {
        @include ff('Source Sans Pro', 16px, 400, normal);
        color: $white;
        line-height: 19px;
        margin-bottom: 25px;
      }

      & a {
        color: $white;
        @include ff('Source Sans Pro', 16px, 400, normal);
      }
    }

    &__last_item {
      align-self: flex-end;

      & p {
        color: $white;
        @include ff('Source Sans Pro', 16px, 400, normal);
      }
    }
  }
}
