@import 'kit/fonts';
@import 'kit/mixins';
@import 'kit/variables';
@import 'kit/placeholders';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

input:focus,
button:focus,
button:active,
textarea:focus,
a:focus,
a:active,
a {
  outline: none;
}

@import 'header';

@import 'menu';

@import 'text-section';

@import 'video-section';

@import 'footer';

@import 'mobile';
