.section {
  width: 100%;
  min-height: 100vh;
  @include flex-boxes(row, center, center, nowrap);

  &-about {
    width: 100%;
    height: 100%;
    @include flex-boxes(column, space-between, center, nowrap);
    padding: 100px 0 100px 0;
    gap: 30px;

    &__title {
      text-align: center;
      @include flex-boxes(column, space-around, center, nowrap);
      height: 100%;
      gap: 30px;

      & h2 {
        @include ff('Roboto', 53px, 400, normal);
        line-height: 64px;
        color: $grey;
      }

      & p {
        @include ff('Poppins', 24px, 400, normal);
        letter-spacing: 2px;
        color: $grey2;
        line-height: 32px;
      }
    }

    &__cards {
      @include flex-boxes(row, center, flex-start, wrap);
      width: 100%;
      gap: 30px;

      & p {
        @include ff('Source Sans Pro', 16px, 400, normal);
        line-height: 22px;
        color: $grey2;
      }
    }

    &__more {
      @include ff('Oswald', 14px, 400, normal);
      color: $black2;
      border-radius: 18px;
      padding: 7px 16px 7px 16px;
      background: $blue;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: transform 0.5s;

      &:hover {
        transform: rotate(10deg);
      }
    }
  }
}
